* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #222d30;
  text-align: center;
}

.outContainer {
  width: 100%;
  min-height: 100vh; /* Full height of viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222d30;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  padding: 55px 35px;
  border-radius: 11px;
  text-align: center;
  color: white;
  max-width: 550px;
  width: 90%;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(34, 45, 48, 1) 100%
  );
  box-shadow: 0 0 20px rgb(4, 231, 247);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 450px; /* Ensure the height never shrinks */
}

#result {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  white-space: pre-wrap;
  overflow: hidden;
  text-align: center;
  transition: opacity 0.3s ease;
}

h1 {
  font-size: 45px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
input {
  padding: 8px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
}

/* #result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
} */

.btn2 {
  text-align: center;
  margin-top: 20px;
}

.btn2 p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

/* Styling the button */
.btn2 {
  background: linear-gradient(135deg, #222d30, #00f2fe);
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover effect */
.btn2:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  background: linear-gradient(135deg, #00f2fe, #222d30); /*      #4facfe*/
}

/* Optional click effect */
.btn2:active {
  transform: scale(0.98);
}
